
  p{
      font-weight: "bold";
  }


            .green{
                font-size:26px;
                color: green;
            }
            .red{
                font-size:20px;
                color: red;
            }
    #div1
    {
        font-family: 'Verdana, Geneva, Tahoma, sans-serif';
    }
    h2,ul{
        color:red;
    }
    ul >li{
        font-weight: bold;
    }